.container{
	width:1280px;
	margin: 0 auto;
}

body{
	margin: 0px;
}

html{
	margin:0px;
}


footer{
	font-family: 'Roboto Regular', sans-serif;
	font-size: 18px;
	

}

#trustH4{
	font-size: 22px;
	line-height: 38px;
	font-family: 'Merriweather Sans Bold', sans-serif;
	text-align: center;
	display: block;
	width: 550px;
	color: #c62650;
	margin: 0 auto;
}
.ul-inline-block li{
	display: inline;
	text-decoration: none;
	list-style: none;

}

li{
	list-style: none;
}

#logo-client{
	text-align: center;
}

#logo-client li{
	padding:40px;
}

.background-demo{
	background: #242f39;
	height:407px;
	width: 100%;
	color: white;
}

h2{
	text-align: center;
	font-family: 'Merriweather Sans Bold', sans-serif;
	font-size:40px;
	line-height: 50px;
}

#requestDemoH2{
	margin: 0 auto;
	width: 500px;
	padding: 120px 0px 80px;
}

.rounded-btn{
	border: 2px solid white;
	color: black;
	border-radius: 50px;
	background: white;
	display: block;
	width: 150px;
	text-align: center;
	margin: 0 auto;
	padding:10px 20px;
	font-family: 'Merriweather Sans Light', sans-serif;
}

.rounded-btn:hover{
	border-color:#bf0436;
	background: #bf0436;
	color: white;
}

#pasBlanc{
	background: #f7f7f8;
	width: 100%;
	height: 600px;
}

.search-bar{
	text-align: center;
	padding: 120px 0px 120px
}

footer input{
	margin: 0 auto;
	position: relative;
	width: 600px;
	padding: 10px 20px;
	border-radius: 50px;
	border-style: none;
	height: 20px;
	box-shadow: 0px 2px 15px #dc8ca2;
}

footer #redBtn{
	position: relative;
	right: -228px;
	top: -41px;
}

#redBtn{
	background: #bf0436;
	border-color: #bf0436;
	color: white;
	text-transform: uppercase;
}

#redBtn:hover{
	border-color: white;
	background:white;
	color: black;
}











.float{
	float: left;
	
}
#floatLeft{
	width: 46%
	
}

#floatLeft ul li{
	display: inline-block;
}
#noPadding li{
	padding:0px;
}
#footerHuni{
	font-size: 40px;
	font-family: 'Merriweather Sans Light', sans-serif;
	line-height: 50px;
}
#floatCenter{
	margin: 0;
	text-align:center;
	text-align: justify;
	width: 27%;
}
#floatCenter ul{
	padding: 0px;

}
#pasBlanc ul li{
	padding: 9px 0px;

}
#floatRight{
	text-align: center;
	text-align: justify;
	width: 27%;

}


.float ul li:hover{
	color: #d57c8f;
	cursor:pointer;

}

.footer-original{
	background: #242f39;
	height: 107px;
	width: 100%;
	color: #9fa3a8;
	text-align: center;
	line-height: 114px;
}

#redText{
	color: #812643;
}

p{
	margin: 0px;
}





