.container{
	width:1280px;
	margin: 0 auto;
}

body{
	margin: 0px;
	font-size: 18px;
}

html{
	margin:0px;
}

/*______________________________________________
		CREATION DES CLASSES AVEC LES FONTS
_______________________________________________*/
.merriweather-bold{
	font-family: 'Merriweather Sans',sans-serif;
	font-weight: 700;
}

.merriweather-light{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
}

.roboto{
	font-family: 'Roboto',sans-serif;
}

p{
	margin: 0px;
	font-family: 'Roboto',sans-serif;
	font-size: 18px;
}

/*==========================================
				HEADER
============================================*/


#lionBlanc{
	float:left;
	width: 25%;
}

.lion-fix2{
	position: relative;
	top:-20px;
}

.huni-header{
	position: relative;
    left: -235px;
    font-size: 20px;
    font-family: 'merriweather-light',sans-serif;
}

#navList{
	float:left;
	width:70%;
}

.floattest{
	float: right;
	width: 25%;
	clear:right;
	margin-top: 10px;
}
header{
	padding-top: 20px;
	font-size: 16px;
}

nav ul li{
	padding: 0px 10px;
	color: white;
}

 
 /*==========================================
			SECTION 01 'HUNI CONNECT'
============================================*/

h1{
	padding-top: 300px;
	display: block;
	width: 430px;
	font-family: 'Merriweather Sans',sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 60px;
	color: white;
}

.Huni-Connect p{
	color: white;
	display: block;
	height: 120px;
}

#macbook{
	position: absolute;
	right: -27px;
    top: 316px;
}

#btnShop{
	background: transparent;
	color: white;
	border:1px solid white;
	margin: 0px 10px 0px 0px;
	width: 80px;
	float: left;
	

}
#btnShop:hover{
	background: white;
	color: #c62650;
	border-color: white;
	margin: 0px 10px 0px 0px;
}

#btnGetStarted{
	background: transparent;
	color: white;
	border:1px solid white;
	margin: 0px 10px 0px 0px;
	width: 120px;
	float: left;
	padding:12px 24px;
	

}
#btnGetStarted:hover{
	background: white;
	color: #c62650;
	border-color: white;
	margin: 0px 10px 0px 0px;
	padding:12px 24px;
}



#section-01{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c1b39+0,c62650+100 */
	background: rgb(140,27,57); /* Old browsers */
	background: linear-gradient(45deg, rgba(140,27,57,1) 0%,rgba(198,38,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c1b39', endColorstr='#c62650',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 900px;
	margin-top: -70px;


}

.below-section-01{
	float: left;
	width: 360px; 
}

/*==========================================
			SECTION 02 'EVERYTHING YOU NEED'
============================================*/

#HowItWorkH2{
	padding-top: 180px;
}

.below-everything{
	margin: 0 auto;
	text-align: center;
	width: 800px;
	margin-bottom:110px;
	color: #585858;
	font-size: 20px;
	line-height: 35px;
	padding-top: 50px;
	padding-bottom: 30px;
	z-index: 1;
}

#belowSection02{
	margin-top: -60px;
}

.everything-float-left{
	float: left;
	width: 56%
}

#EverythingBigImage{
	margin-left:-55px;
}

.everything-float-right{
	float:right;
	width: 44%;
	margin-top: 30px;
}

.everything-mini-float-left{
	float:left;
}

.everything-mini-float-right{
	float-right
}

.everything-box{
	width: 460px;
	margin-bottom: 90px;
	color: #737373;
}

/*==========================================
			SECTION 03 'GIVE YOUR HOME'
============================================*/

#section-03{
	margin-top: 610px;
}

#belowEverythingBox{
	display: block;
	background-color: #242f39;
	color: white;
	width: 100%;
	z-index: 1;
}

#colorWhite{
	color: white;
}



.below-everything-skew{
	position: relative;
    width: 1278px;
    height: 100px;
    background-color: #242f39;
    border: 1px solid #242f39;
    transform: matrix(1, -0.05, 0, 1, 0, 0);
    margin-top: -180px;
    z-index:-1;
}

.how-float-left{
	float: left;
	width: 33.33%;
	text-align: center;
}

.how-container{
	margin:0 auto;
	width:340px;
}
.h3-03{
	font-size: 26px;
	line-height: 35px;
}

.colorGrey{
	color:#585858;
}

/*==========================================
			SECTION 04 'JEAN ROCHEFORT'
============================================*/
.quotes {
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: -40px;
}

.quotes-absolute{
	position: relative;
}

#section-04{
	margin-top: 500px;
	background-color: #f8f8f8;
	position: relative;
	z-index: -2;
}

.below-section-04{
	text-align: center;
	padding-top: 50px;
	display: block;
	width: 690px;
	margin:0 auto;
	line-height: 35px;
	color: #323232;
}

#line{
	display: block;
	width:80px;
	height:7px;
	background-color: #c62650;
	float:left;
	margin-top:7px;

}

#jeanRochefort2{
	float: left;
	text-transform: uppercase;
	margin-left: 10px;
}

#jeanRochefort{
	padding-top: 100px;
	width: 260px;
	margin: 0 auto;
	margin-bottom: 140px;
}

/*==========================================
			SECTION 4.5 'PRICING PLAN'
============================================*/


.grey-bubble {
    width: 100%;
    height: 1000px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: -800px;
    z-index: -1;
    position: relative;
    transform: scale(1.6,1);
}

.overflow{
    width: 100%;
    height: 200px;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

#pricingPlan{
	margin-bottom: -150px;
}

/*==========================================
			SECTION 05 'PRICING TABLE'
============================================*/

#section-05{
	background-color: #c62650;
	height: 800px;

}

.circle-card{
    width: 500px;
    height: 150px;
    background-color: #c62650;
    border-radius: 50%;
    margin-bottom: -145px;
    position: relative;
    margin-left: -50px;
}


.float-05{
	float: left;
	width: 33.33%;
	overflow: hidden;
}

.mini-container-05{
	width: 400px;
	margin-top:80px;
	color: white;
}

#h3-05{
	font-size: 29px;
	line-height: 42px;
	padding-top: 40px;
}

#btn05{
	background: transparent;
	color: white;
	border:1px solid white;
	margin: 0px 10px 0px 0px;
	width: 120px;
	float: left;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	

}
#btn05:hover{
	background: white;
	color: #c62650;
	border-color: white;
	margin: 0px 10px 0px 0px;
}

#free05{
 	
 	padding-top: 100px;
}

#view05{
	padding-top: 100px;
}

#whiteContainer05{
	color: black;
	background-color:white;
	text-align: center;
}

#standard{
	font-size: 25px;
	line-height: 35px;
	padding-top:100px;
}

#money{
	font-size: 35px;
	line-height: 35px;
}

#inside05{
	text-align: left;
	padding-top:40px;
	margin-left: 70px;
	margin-right: 40px;
	color: #4c4c4c;
}

.ul-section-05 li{
	margin:10px 0px;
}

.ul-section-05{
	padding-left: 0px;
}

.icon-arrow-circle-right{
	color: #7863f6;
	margin-right:10px;
}

#btnSection05{
	background: transparent;
	color: #5842dc;
	border:1px solid #5842dc;
	margin: 0 auto;
	width: 125px;
	padding: 10px 50px;
	

	

}
#btnSection05:hover{
	background: #5842dc;
	color: white;
	border-color: #5842dc;
	margin: 0 auto;
	padding: 10px 50px;
}

.btn-section-05{
	padding-bottom: 60px;
}


/*=================================
			Section 6
==================================*/


#section-06{
	
}

#belowBenefits{
	display: block;
	width:700px;
	margin:0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.float-section-06{
	float:left;
	width: 33.33%;
	text-align: center;
}

.mini-container-06{
	width: 250px;
	margin:0 auto;
	color: #7f7f7f;
	font-size:18px;
	line-height: 25px;
}

.h5-06{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Merriweather Sans Bold', sans-serif;
	color:#c62650;
}

.height-limit{
	height: 95px;
}

/*=====================================
				SECTION 7
======================================*/

#section-07{
	margin-top: 420px;
	background-color: #5842dc;
	color: white;
}

.h2-07{
	padding-top: 100px;
	display: block;
	width: 550px;
	margin:0 auto;
}

.below-section-07{
	display: block;
	margin:0 auto;
	width: 550px;
	text-align: center;
	padding:60px 0px;
	line-height: 35px;
}

#merriweatherLight{
	font-family: 'Merriweather Sans',sans-serif;
}

.float-07{
	float:left;
	width: 30%;
	margin-top: 200px;
}

.icon-apple{
	font-size: 28px;
}

.float-07-1{
	float:left;
	width: 40%;
	text-align: center;
	
}

.mini-container-07{
	height:400px;

}

#blackBtn{
	border: 2px solid black;
	color: white;
	border-radius: 50px;
	background: black;
	display: block;
	width: 150px;
	text-align: center;
	margin: 0 auto;
	padding:10px 20px;
	font-family: 'Merriweather Sans Light', sans-serif;
}

#blackBtn:hover{
	border-color: white;
	background: white;
	color: #5842dc;
}

/*=========================================
				SECTION 8
===========================================*/

#section-08{
	margin-top: 500px;
}

.below-recent{
	display: block;
	text-align: center;
	margin:0 auto;
	width: 800px;
	margin-bottom: 100px;
	color: #4c4c4c;
}

.float-08{
	float:left;
	width: 33.33%;
}

.image-grey{
	width: 370px;
	height:150px;
	margin: 0px;
	padding: 0px;
	background-color: #f3f3f3;

}

.mini-container-08{
	width: 370px;
	font-size: 20px;

}

#container-08{
	font-size: 20px;
	padding: 20px 0px;
}

#paragraph-08{
	font-size: 20px;
}

.mini-container-08::after{
	content:"";
	width:370px;
	height:3px;
	background-color: #f3f3f3;
	display: block;
	margin-bottom:100px;
}

.mini-container-08:hover::after{
	background-color: #c62650;
}

/*=======================================
				FOOTER
========================================*/

#trustH4{
	font-size: 22px;
	line-height: 38px;
	font-family: 'Merriweather Sans Bold', sans-serif;
	text-align: center;
	display: block;
	width: 550px;
	color: #c62650;
	margin: 0 auto;
}
.ul-inline-block li{
	display: inline;
	text-decoration: none;
	list-style: none;

}
li{
	list-style: none;
}
#logo-client{
	text-align: center;
}
#logo-client li{
	padding:40px;
}
.background-demo{
	background: #242f39;
	height:407px;
	width: 100%;
	color: white;
}

h2{
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700;
	font-size:40px;
	line-height: 50px;
}

#requestDemoH2{
	margin: 0 auto;
	width: 500px;
	padding: 120px 0px 80px;
}

.rounded-btn{
	border: 2px solid white;
	color: black;
	border-radius: 50px;
	background: white;
	display: block;
	width: 150px;
	text-align: center;
	margin: 0 auto;
	padding:10px 20px;
	font-family: 'Merriweather Sans Light', sans-serif;
}

.rounded-btn:hover{
	border-color:#bf0436;
	background: #bf0436;
	color: white;
	cursor: pointer;
}

#pasBlanc{
	background: #f7f7f8;
	width: 100%;
	height: 600px;
}

.search-bar{
	text-align: center;
	padding: 120px 0px 120px;
}

footer input{
	margin: 0 auto;
	position: relative;
	width: 600px;
	padding: 10px 20px;
	border-radius: 50px;
	border-style: none;
	height: 20px;
	box-shadow: 0px 2px 15px #dc8ca2;
}

footer #redBtn{
	position: relative;
	right: -270px;
	top: -42px;
}

#redBtn{
	background: #bf0436;
	border-color: #bf0436;
	color: white;
	text-transform: uppercase;
}

#redBtn:hover{
	border-color: white;
	background:white;
	color: black;
}

.lion-fix{
	position: relative;
    top: 15px;
}

input{
	outline:0;
}











.float{
	float: left;
	
}
#floatLeft{
	width: 46%
	
}

#floatLeft ul li{
	display: inline-block;
}
#noPadding li{
	padding:0px;
}

#noPadding{
	padding:0px;
}
#noMargin{
	margin:0px;
}

/*
      RAJOUTE UNE DIV ET MET LES ELEMENTS EN FLOAT
*/
#footerHuni{
	font-size: 40px;
	font-family: 'Merriweather Sans Light', sans-serif;
	line-height: 50px;
}
#floatCenter{
	margin: 0;
	text-align:center;
	text-align: justify;
	width: 27%;
}
#floatCenter ul{
	padding: 0px;

}
#pasBlanc ul li{
	padding: 9px 0px;

}
#floatRight{
	text-align: center;
	text-align: justify;
	width: 27%;

}


.float ul li:hover{
	color: #d57c8f;
	cursor:pointer;

}

.footer-original{
	background: #242f39;
	height: 107px;
	width: 100%;
	color: #9fa3a8;
	text-align: center;
	line-height: 114px;
}

#redText{
	color: #812643;
}



footer p{
	height: 50px;
}

footer{
	font-family: 'Roboto Regular', sans-serif;
	font-size: 18px;
	

}


.red{
	color: #c62650;

}
.px22{
	font-size: 22px;
}

.margin-right{
	margin-left: 18px;
}

/*=========================================
Contact Page
===========================================*/

.red-header{
	background-color: #c62650;
	height: 100px;
}

.contact-h1{
	color: black;
	text-align: left;
	padding-top: 100px;
	font-size: 42px;
	margin-left:40px;
}

.section-contact{
	background-color: #f9f8fa;
	height: 250px;
    margin-top: -35px;
}

.contact-ul li{
	display: inline;

}

.contact-us-red{
	text-align: left;
	color:#c62650;
	text-transform: uppercase;
	font-size: 22px;
	margin-left: 40px;
}

.contact-us-red-below{
	margin-left: 40px;
	display: block;
	width:800px;
	color: #4c4c4c;

}

.lets-talk{
	font-size: 52px;
	line-height: 90px;
}

.under-lets-talk{
	text-align: center;
	display: block;
	margin:0 auto;
	width:800px;
	color: #737373;
	padding-bottom: 100px;
}

table input[type=text] {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #a6a6a6;
    font-size: 16px;
}

table input[type=text]:hover{
	border-bottom: 2px solid #c62650
}

table input [type=text]:focus{
	border-bottom: 2px solid #c62650
}

table{
	text-align: center;
	margin:0 auto;
	width:100%;
	padding-top: 50px;
}

.red-btn{
	border: 2px solid #bf0436;
	color: white;
	border-radius: 50px;
	background: #bf0436;
	display: block;
	width: 150px;
	text-align: center;
	margin-top: 50px;
	padding:10px 20px;
	font-family: 'Merriweather Sans Light', sans-serif;
}

.red-btn:hover{
	border-color:black;
	background: black;
	color: white;
	cursor: pointer;
}

.float-map{
	float:left;
	margin-left: -80px;
	width:60%;
}

.float-map-alt{
	float:right;
	width:40%;
	margin-left: 20px;
}

.mini-container-contact{
	margin-top: 40px;
}

.mini-container-contact p{
	padding-top: 20px;
	margin-left:90px;
}

.mini-container-contact-alt{
	margin-top: 80px;
	margin-bottom: 300px;
}

.icon-group-1{
	background-color: #e9e9e9;
    font-size: 40px;
    height: 60px;
    width: 60px;
    float:left;
    text-align: center;
    color: #c62650;
}

#icon-group1{
	line-height: 60px;
}

#icon-group2{
	line-height: 60px;
	font-size: 22px;
}

.mini-container-contact-alt span{
	margin-right: 20px;
}

.mini-container-contact-alt span:hover{
	background-color: #c62650;
	color: white;
}


/*===============================================
					Blog start
=================================================*/

.greybox{
	height: 240px;
	width:300px;
	background-color: #ebebeb;
	float:left;
	margin-left: 40px;
	margin-top: 80px
}

.greybox-alt{
	float: left;
	width: 860px;
	height: 240px;
	padding-left: 60px;
	margin-top: 80px
}

.greybox-alt h3{
	font-size: 22px;
	color: #bf0436;
	margin-top:0px;
}

.greybox-alt p{
	font-size:16px;
	line-height: 36px;
	

}

.explore-more{
	float:left;
	margin-top: 0px;
}

.comments{
	float:left;
	padding-left: 40px;
	color: #bf0436;
	margin-top: 15px;
	font-size: 15px;
}

.fb-like{
	float: right;
	width: 100px;
	height: 32px;
	margin-top: 11px;
	background-color: #4267b2;
	color: white;
	font-size: 15px;
	text-align: center;
    line-height: 37px;
    margin-right: 10px;
    cursor: pointer;

}

.tweet{
	float: right;
	width: 100px;
	height:32px;
	margin-top: 11px;
	background-color: #1b95e0;
	color: white;
	font-size: 15px;
	text-align: center;
    line-height: 37px;
    margin-right: 10px;
    cursor: pointer;
}


i.icon-twitter{
	padding-right: 10px;
}

i.icon-facebook{
	padding-right:10px;
}

.greybox-alt-extra{
	margin-top:70px;
}

#blogSearch input{
	width: 200px;
	padding: 10px 20px;
	border-radius: 50px;
	border:1px solid #e6e4e4;
	color: #8d8d8d;
	height: 20px;
	float:right;
	margin-top: -200px;
	position: relative;
}

.search-bar-two{
	padding-top: 120px;

}

.relative-search{
	position:relative;
	color: #bf0436;
	left:1240px;
    top: -189px;
    width: 20px;
}
.alt-list-number{
	margin-top: 1950px;
	text-align: center;
	font-size: 22px;
}

ol.list-number li{
	display: inline;
	margin:0 10px;
}

ol.list-number li:hover{
	color: #bf0436;
	cursor: pointer;
}

#olListOne{
	color: #bf0436;
	cursor: no-drop;
}

a{
	text-decoration: none;
	color:inherit;
}

aside{
	float:right;
	width: 30%;
}

.search-bar-three input{
	width: 200px;
	padding: 10px 20px;
	border-radius: 50px;
	border:1px solid #e6e4e4;
	color: #8d8d8d;
	height: 20px;
	float:right;
	margin-top: -200px;
	position: relative;
}

.search-bar-three{
	padding-top: 120px;
	width: 240px;

}

.relative-search2{
	position: relative;
    color: #bf0436;
    left: 204px;
    top: -188px;
    width: 20px;
}

#blogDetails2{
	margin-top: 110px;
}

#blogDetails3{
	margin-top: 60px;
    padding-top: 0px;
}

.uppercase{
	text-transform: uppercase;
	font-size: 18px;
}

.free-email{
	margin-top: -140px;
}

#btnSubmit{
	background: #bf0436;
	color: white;
	border:1px solid white;
	margin: -140px 10px 0px 0px;
	width: 80px;
	float: left;
	border-radius: 13px;
	padding: 8px 16px;
	font-size: 16px;
	

}

#btnSubmit:hover{
	background: black;
	color: white;
	border-color: black;
	margin: -140px 10px 0px 0px;
}

#blogCategories{
	margin-top: -70px;
	margin-bottom: 40px;

}

ol.ol-blog{
	padding:0px;
}

ol.ol-blog li{
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
}

ol.ol-blog li:hover{
	color:#bf0436;
	cursor: pointer;
}

.small-container{
	width: 870px;
	margin: 0 auto 0 0;
}

.small-container p{
	font-size: 16px;
	line-height: 36px;
	color: #747474;
	margin: 20px 0;
}

.text-align-left{
	text-align: left;
}

.how-to-leverage{
	width:570px;
	font-size: 29px;
	margin-top: 80px;
	padding-top: 110px;
}

.big-grey-box{
	display: block;
	width: 870px;
	height: 485px;
	background-color: #ebebeb;
}

.first-understand{
	width: 870px;
	height: 180px;
	background-color: #c62650;
	color: white;
	font-size: 26px;
	line-height: 36px;
	text-align: center;
}

.first-understand h4{
	font-weight: normal;
    line-height: 175px;
}

.margin-left{
	margin-left: 0px;
	padding-left: 0px;
}

#comments{
	float: right;
	margin-right: 50px;
	padding-bottom: 20px;
}

.small-container h3{
	margin:35px 0;
}

.small-grey-box{
	display: block;
	width: 100px;
	height: 100px;
	background-color: #a6a6a6;
}

.comment-box{
	width: 800px;
	margin-bottom: 100px
}

.comment-box-alt{
	float: left;
	margin-right: 50px;
}

.reply-box-alt{
	float:left;
}

.reply-box{
	background-color: #e5e4e4;
	color: #696969;
	font-family: 'Roboto',sans-serif;
	border: 1px transparent;
	height: 35px;
	width: 90px;
	text-align: center;
	line-height: 36px;
    font-size: 16px;
    letter-spacing: 1px;
    float: left;
}

.reply-box:hover{
	background-color: #c62650;
	color: #FFFFFF;
	cursor: pointer;
}

.date-box{
	background-color: #c62650;
	color: #FFFFFF;
	font-family: 'Roboto',sans-serif;
	border: 1px transparent;
	height: 35px;
	width: 145px;
	text-align: center;
	line-height: 36px;
    font-size: 16px;
    letter-spacing: 1px;
    float: left;
    margin-right: 30px;
}

#leaveReply{
	padding-top: 40px;
}

#commentBoxAlt{
	margin-left: 50px;
}

.your-comment{
	padding-bottom: 210px;
    padding-top: 20px;
    padding-left: 20px;
    width: 780px;
}

.your-comment-alt{
	width: 41%;
    padding: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

#submitRequest{
	font-size: 18px;
    padding: 4px 0px;
    width: 200px;
    float: right;
    margin-right: 64px;
    margin-top: 20px;
}

.line-1{
	width: 800px;
	height: 1px;
	background-color: #e5e4e4;
}

.line-2{
	width: 660px;
	height: 1px;
	background-color: #e5e4e4;
	margin-left: 140px;
}

.line-3{
	width: 600px;
	height: 1px;
	background-color: #e5e4e4;
	margin-left: 200px;
}

#submitRequestDiv{
	margin-bottom: 100px;
}